:root {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "RobotoLi";
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 0rem 2rem 3.5rem 2rem;
  background-image: linear-gradient(
      var(--bg-color-transparent),
      var(--bg-color)
    ),
    url(assets/umberto-bg-picture.jpeg);
  background-repeat: no-repeat;
  background-size: cover, cover;
}

/* fonts *********************************************************/
@font-face {
  font-family: "AtmaBo";
  src: url(/fonts/Atma-Bold.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "AtmaSeBo";
  src: url(/fonts/Atma-SemiBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "AtmaMed";
  src: url(/fonts/Atma-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "AtmaRe";
  src: url(/fonts/Atma-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "RobotoReg";
  src: url(/fonts/Roboto-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "RobotoLi";
  src: url(/fonts/Roboto-Light.woff2);
  font-weight: 300;
}

h3 {
  font-family: "AtmaMed";
  font-size: 1.8rem;
  color: var(--h3-color);
  letter-spacing: 0.08rem;
  filter: drop-shadow(0px 2px 2px var(--drop-shadow-color-dark));
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 4rem 6rem var(--spacing-small) 6rem;
  background-color: var(--bg-color-third-level);
  border-radius: 0.7rem 0.7rem 0.1rem 0.1rem;
  box-shadow: var(--box-shadow-small);
  position: relative;
  right: 0;
  left: 0;
}
h4 {
  font-family: "AtmaMed";
  font-size: 1.5rem;
  color: var(--h4-color);
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1.5rem;
  margin: 0;
}
.container {
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color-first-level);
  border-radius: 0.7rem;
  margin-top: 4rem;
}
/* media-queries ******************************************************** */
@media (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
    padding-bottom: 2.5rem;
  }
  body {
    font-size: 1.65rem;
    padding: 2.5rem 6rem;
  }
}
@media (min-width: 1100px) {
  h3 {
    font-size: 3rem;
  }
  body {
    font-size: 1.8rem;
    padding: 2.5rem 8rem;
    width: 90vw;
    max-width: 1920px;
    margin: auto;
    margin-inline: auto;
  }
  .container {
    margin-top: 4rem;
  }
}
